body {
    background-color: #F0F2EB;
}

header {
    margin: 3%;
    padding: 2%;
    border-radius: 10px;
    background-color: #F07626;
    border: 1px dotted;
}

header .logo,
header .pageTitle {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 10%;
}

.pageTitle {
    width: 89%;
    font-size: 24px;
}

.spacer {
    clear: both;
}

#quizHeading {
    text-transform: capitalize;
}

section {
    background-color: #DDF0F1;
    margin: 3%;
    border-radius: 10px;
    padding: 2%;
    border: 1px dotted;
}

.centerText {
    text-align: center;
}

.btn {
    border-radius: 8px;
    color: #FFF;
    background-color: #150DA0;
    border: none;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: capitalize;
    text-align: center;
    padding: 15px 32px;
}

.btn:hover {
    color: #150DA0;
    background-color: #FFF;
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
